@import "tailwindcss";

@theme {
  --color-primary: #4c5fd9;
  --color-secondary: #db5d50;
  --color-accent: #d92de0;
  --color-neutral-light: #f5f7f9;
  --color-neutral-dark: #2b2d42;
}

body {
  background-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
  font-family: sans-serif;
}
