@import "tailwindcss";

@layer components {
  .card {
    @apply bg-white rounded-2xl shadow-md border border-gray-100 
           hover:shadow-lg hover:-translate-y-0.5 transition-all duration-300;
  }

  .btn-primary {
    @apply bg-[--color-primary] text-white font-medium px-4 py-2 rounded-xl 
           hover:bg-[--color-secondary] transition disabled:bg-[--color-primary]/60 
           disabled:cursor-not-allowed;
  }

  .section-heading {
    @apply text-lg font-semibold text-[--color-primary] mb-3;
  }
}

@theme {
  --color-primary: #4c5fd9;
  --color-secondary: #db5d50;
  --color-accent: #d92de0;
  --color-neutral-light: #f5f7f9;
  --color-neutral-dark: #2b2d42;
}

body {
  background-color: var(--color-neutral-light);
  color: var(--color-neutral-dark);
  font-family: sans-serif;
}
* {
  @apply transition-all duration-300 ease-in-out;
}
